<header class="mb-5">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
                    </li>
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <section>
        <div class="banner">
            <div class="banner__home">
                <div class="container">
                    <img src="https://images.viblo.asia/full/59df84ae-2ce8-4abd-a1de-43049e765d13.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <div class="bock__clock">
        <span>Bây giờ là: {{currentTime}}</span>
    </div>
</header>