.banner {
    background: #330b74;
}

.fw-blold{
    font-weight: 700;
}

.bock__clock{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}